on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      containerfile_path:
        required: true
        type: string
      tags:
        required: true
        type: string

jobs:
  build-and-push:
    name: Build and Push Image (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm

    steps:
    - uses: actions/checkout@v4

    - name: Generate arch-specific tags
      id: tags
      run: |
        REPO_OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
        ARCH_TAGS=""
        for TAG in ${{ inputs.tags }}; do
          ARCH_TAGS="${ARCH_TAGS} ${TAG}-${{ matrix.arch }}"
        done
        echo "tags=${ARCH_TAGS}" >> $GITHUB_OUTPUT
        echo "repo_owner=${REPO_OWNER}" >> $GITHUB_OUTPUT

    - name: Buildah Action
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: ${{ steps.tags.outputs.repo_owner }}/${{ inputs.image_name }}
        tags: ${{ steps.tags.outputs.tags }}
        containerfiles: ${{ inputs.containerfile_path }}
        archs: ${{ matrix.arch }}
        build-args: |
          NUGET_USER=${{ github.actor }}
          NUGET_PASSWORD=${{ secrets.GITHUB_TOKEN }}

    - name: Push ghcr.io
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

  create-manifest:
    name: Create Multi-Arch Manifest
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: Login to GHCR
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | buildah login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Create and Push Manifest
      run: |
        REPO_OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
        IMAGE="ghcr.io/${REPO_OWNER}/${{ inputs.image_name }}"
        
        for TAG in ${{ inputs.tags }}; do
          buildah manifest create ${IMAGE}:${TAG}
          buildah manifest add ${IMAGE}:${TAG} ${IMAGE}:${TAG}-amd64
          buildah manifest add ${IMAGE}:${TAG} ${IMAGE}:${TAG}-arm64
          buildah manifest push --all ${IMAGE}:${TAG} docker://${IMAGE}:${TAG}
        done